name: Generate Python SBOM

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  sbom:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install CycloneDX
        run: pip install cyclonedx-bom

      - name: Generate SBOM
        run: cyclonedx-py requirements -i requirements.txt -o bom.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom-file
          path: bom.json